.about {
  font-family: myfont;
  margin: 0 auto;
}

.ABOUT {
  font-size: 50px;
  display: inline-block;
  margin-bottom: -5px;
  font-weight: normal;
}

.ROOM {
  width: 700px;
}

.about-SANKAKUU {
  width: 100px;
  margin-bottom: -10px;
}

.name {
  margin-left: 100px;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: normal;
}

.intro {
  font-family:Japanese;
  font-weight: normal;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 50px;
  font-size: 20px;
}
